@font-face {
    font-family: copyduck;
    src: url(/Copyduck.ttf);
}
@font-face {
    font-family: pinkylove;
    src: url(./Pinky\ Love.ttf);
}
@font-face {
    font-family: jelly;
    src: url(./Jelly\ Crazies.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #EAEDED;
    font-family: jelly;
}

.memories {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.title {
    font-family: jelly;
}

.sub-title {
    font-family: pinkylove;
}

#tabs {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}

.tab {
    padding: 8px 10px;
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tab:hover {
    background-color: #662157;
    color: white;
}

.tab.active {
    background-color: #662157;
    color: white;
}

#babyshower, #marriage, #reception, #manali {
    display: none;
}

.content {
    width: 80%;
    height: calc(100% - (20% + 60px));
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    text-align: center;
}

.content .soon {
    width: 50%;
}

.content .sooon {
    font-family: jelly;
}

.gallery {
    width: 50%;
    padding: 3px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    border-radius: 3px;
}
.image:hover {
    transform: scale(0.99);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media (max-width: 767px) {
    .content {
        width: 100%;
        height: calc(100% - (20% + 35px));
    }
    #tabs {
        width: 100%;
        height: 35px;
        font-size: 10px;
    }
    .title {
        font-size: 16px;
    }
    .sub-title {
        font-size: 14px;
    }
}
