.home {
  width: 100%;
  height: 100vh;
}
.home .title {
  font-family: "Sacramento", cursive;
  text-align: center;
}
.home div {
  width: 100%;
  height: calc(100% / 4);
  border-bottom: 1px solid #55555540;
  box-sizing: border-box;
  font-size: 22px;
  letter-spacing: 2px;
  display: flex;
  align-items: end;
  padding: 20px 45px;
  font-weight: bold;
  color: white;
}

.home div:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.2s;
}

.babyshower {
  background-image: url(./images/babyshower.jpg);
  background-position: center 15%;
  background-size: cover;
  font-family: "Playfair Display", serif;
}

.close {
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  color: #51293e;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  position: fixed;
  border-radius: 50%;
  line-height: 2rem;
}